@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #9ac0fc;
}
nav a{
  gap: 20px;
  border: solid 2px black;
  margin: 5px;
  text-decoration: none;
}
h1{
   text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
nav{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    }
header{
    text-align: center;
    padding-top: 20px;
    justify-content:center;
}
.container:a {
    padding: 8px;
    width: 100px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration:none;
}
a:hover {
    transform: scale(1.05);
}

.container {
    width: 100%;
    overflow: hidden;
}

.pages {
    display: inline-flex;
    flex-direction: row;
    width: 400%;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
    margin-top: 10px;
}

.one {
    background: orangered;
}

.two {
    background-color: dodgerblue;
}

.three {
    background-color: indigo;
}

.four {
    background-color: limegreen;
}
.button {
    color: white
    
}
/*Previous work journey text*/
.PreText {
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 1000px;
    padding: 50px;
    
}
.EdJourney {
    border-left: 100px solid #8A2BE2;
    border-right: 100px solid #8A2BE2;
    justify-content: center;
    box-sizing: border-box;
    background-color: #FFEBCD;
    padding-top: 50px;
}
 

/* The navigation menu for Previous work*/
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  .PreWorkContentContainer {
    width: 100%;
    overflow: hidden;
  }
  .PreWorkContent {
    display: inline-flex;
    flex-direction: row;
    width: 800%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .PreWork{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .PreWork img {
    width: 50%;
    height: auto;
  }
  .PreWork h1 {
    margin-top: 20px;
  }
  .NavandContent {
    height: 100%
  }
  #Bitsy img {
    width: 200px;
    height: auto;
  }
  .multiImg img{
    display: flex-wrap;
    width: 30%;
    height: auto;
    justify-content: center;
    gap: 10px;
  }
  .PreWork p {
    margin:0px;
    border: 0px;
    justify-content: center;
    width: 75%;
  }
  #colourisation img {
    width: 30%
  }
  #VisArt img {
    width: 30%;
  }
  #AudArt img {
    width: 30%;
  }
 
  .MerlinText {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .MerlinImg img{
    width: 20%;
    height: auto;
    margin: 20px;
    border: solid 2px black;
    padding: 5px;
  }
  .MerlinImg {
    float: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .Merlin {
background-color: #d69147;
  }
  .MainText {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    display: flex
  }
  .LizzieImg img {
    Width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 20px;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 10px 10px 10px black inset;
    background-color: #8A2BE2;
  }
  .LizzieImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .HomeIntro {
    display: flex;
    margin: auto;
  }
  .Main {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
  }
  .Main img {
    width: 20%;
    margin: auto;
    display: flex;
  }