@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
h1{
   text-align: center;
}

nav{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
header{
    text-align: center;
    padding-top: 20px;
    justify-content:center;
}
.container:a {
    padding: 8px;
    width: 100px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration:none;
}
a:hover {
    transform: scale(1.05);
}

.container {
    width: 100%;
    overflow: hidden;
}

.pages {
    display: inline-flex;
    flex-direction: row;
    width: 400%;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
    margin-top: 100px;
}

.one {
    background: orangered;
}

.two {
    background-color: dodgerblue;
}

.three {
    background-color: indigo;
}

.four {
    background-color: limegreen;
}
.button {
    color: white
    
}
/*Previous work journey text*/
.PreText {
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 1000px;
    padding: 50px;
    
}
.EdJourney {
    border-left: 300px solid #8A2BE2;
    border-right: 300px solid #8A2BE2;
    justify-content: center;
    box-sizing: border-box;
    background-color: #FFEBCD;
    padding-top: 50px;
}
 

/* The navigation menu for Previous work*/
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  .PreWorkContentContainer {
    width: 100%;
    overflow: hidden;
  }
  .PreWorkContent {
    display: inline-flex;
    flex-direction: row;
    width: 1100%;
    box-sizing: border-box;
  }
  .PreWork{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
  }